@model ALGroups.ViewModels.MessagesViewModel

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_GroupLayout.cshtml";
    ViewBag.GroupName = Model.GroupName;
    ViewBag.IsModerator = Model.RequesterIsAdmin;
}


@Html.Partial("AddMessage", new ALGroups.Models.Message())

<h4 class="mt-2">Activity:</h4>
<hr />

@foreach (var item in Model.Messages)
{
    <div class="rounded-xlg border-secondary border-1 p-2 mb-3">
        <i>@item.Creator.UserName on @item.CreationTimespamp: </i>
        <br />
        <b>@item.Title</b>
        <p>@item.Content</p>
    </div>
}
