<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="al-background-dark">
    <nav class="navbar navbar-expand-lg navbar-dark al-dark fixed-top d-flex">
        <div class="flex-grow-1">
            @Html.ActionLink("ALGroups", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" style="flex-grow: 2" id="navbarSupportedContent">
            <div class="w-100 d-flex justify-content-between">
                @Html.Partial("_SearchBar")

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content pt-3">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
