@using Microsoft.AspNet.Identity

@{
    string outline = Model == null
        ? "btn-outline-light"
        : Model.GetType().GetProperty("Outline") == null || Model.Outline != "accent"
        ? "btn-outline-light"
        : "al-btn-outline-accent";
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right mr-0">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Groups", "Profile", routeValues: null, htmlAttributes: new { title = "My Groups", @class="btn mr-lg-2 mb-lg-0 w-100 " + outline })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn w-100 @outline">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right mr-0">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn mr-2 " + outline })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn " + outline })</li>
    </ul>
}
